<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    <h3>
      <i class="fa-solid fa-fw fa-circle-nodes"></i>
      RxJs Examples
    </h3>
  </div>
  <div class="card-body">
    <button class="btn btn-primary w-100 mb-4" (click)="dispatchOrder()">Order ramen</button>

    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" (click)="broth.next('broth');">Add broth</button>
      <button class="btn btn-primary" (click)="noodles.next('noodles');">Add noodles</button>
      <button class="btn btn-primary" (click)="egg.next('egg');">Add egg</button>
    </div>
    
    <ng-container *ngIf="delivery$ | async as product">
      <pre>{{ product | json }}</pre>
    </ng-container>
  </div>
</div>